# byte compiled
__pycache__/
*.pyc

# vim stuff
*.swp

# emacs stuff
*~

# generic log catcher
*.log

# latex stuff
*.aux
*.lof
*.lot
*.fls
*.out
*.toc

# latex indexes
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.glg
*.glo
*.gls
*.brf
*.lol

# latex dvi
*.dvi

# bibtex
*.bbl
*.blg

# directory containing the processed/normalised images
/src/data

